<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Support the Author</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
        body {
            font-family: 'Roboto Mono', monospace;
            background-color: #fefeeb;
        }
        .gradient-text {
            background: #e80c3e;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body class="text-gray-700">
    <h1 class="text-center text-4xl font-bold my-8 gradient-text">Support the Author</h1>
    <p class="text-center text-xl">If you like my project, you can support me by sending me some cryptocurrency.</p>
    <div class="flex flex-col justify-center items-center mt-8">
        <label for="cryptoAddress" class="text-xl mb-4">USDT TRC20 address:</label>
        <input type="text" value="{{ crypto_address }}" id="cryptoAddress" readonly class="rounded-lg p-2 text-lg w-96" style="border: 1px solid #e80c3e;">
    </div>
</body>
</html>